.form-center {
    /* 지출항목 칸과 비용칸이 동일선상에 위치 */
    display: flex;     
}

.form-group {
    padding: 1rem 0.75rem;
    flex: 0.5;
    
}

label {
    display: block;
    color: var(--secondColor);
    font-size: 1rem;
    text-transform: capitalize;
}

.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--secondColor);
    outline: none;
    height: 30px;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
}